* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background: url(educ.jpg) center/cover no-repeat;
    color: white;
}

.subtitle {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.9;
}

/* NAVIGATION */
nav {
    background: lightcyan;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
    color: blue;
}

nav ul li:hover {
    color: red;
}

nav a {
    text-decoration: none;
    color: #003f8c; /* dark blue */
    font-weight: bold;
}

nav a:hover {
    color: red;
}


/* SECTIONS */
section {
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
}

.first {
    background: #eaf3ff;
    border-left: 5px solid #5ba4ff;
    margin-bottom: 50px;
    border: double 10px blue;
}

.second {
    margin-top: 20px;
    background: white;
    border-left: 5px solid #003f8c;
}

/* FOOTER */
footer {
    background: url(educ.jpg) center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* HEADINGS */
h4 {
    color: white;
}
/* LESSONS SECTION DESIGN */
.lessons {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-top: 8px solid #5ba4ff;
    max-width: 900px;
}

.lessons h2 {
    color: #003f8c;
    text-align: center;
    margin-bottom: 20px;
}

.lessons p {
    line-height: 1.8;
    font-size: 16px;
}


/* 7 GUIDANCE SECTION DESIGN */
.online-kindness {
    background: #f0f6ff;
    padding: 40px;
    border-radius: 20px;
    max-width: 900px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.online-kindness h2 {
    text-align: center;
    color: #003f8c;
    margin-bottom: 25px;
}

.online-kindness p {
    font-size: 16px;
    line-height: 1.9;
}

