body {
    font-family: Arial, sans-serif;
    background-image: url(416a89d6-8461-4caa-a7b5-9d079c1a640a.jpg);
    background-size: cover;
    border: #eef3ffa8;
    margin: 80px;
    padding: 0;
    text-align: center;
    border-radius: 100px;
    
}
header {
    background-image: url(416a89d6-8461-4caa-a7b5-9d079c1a640a.jpg);
    color: rgb(28, 71, 68);
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 70px;
    padding-left: 5px;
    padding-right: 5px;
}
.container {
    max-width: 900px;
    margin: 70px auto;
    background-image: url(416a89d6-8461-4caa-a7b5-9d079c1a640a.jpg);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    color: white;
}
.message-box1 {
    margin-top: 100px;
    margin-left:  100px;
    margin-right:  50px;
    border: 5px solid #15dda59f;
    border-radius: 30px;
    font-size: 15px;
    color: #ffffff;
    background-image: url(416a89d6-8461-4caa-a7b5-9d079c1a640a.jpg) no-repeat cover;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.message-box2 {
    margin-top: 100px;
    margin-left:  100px;
    margin-right:  50px;
    margin-bottom: 80px;
    border: 5px solid #15dda59f;
    border-radius: 30px;
    font-size: 15px;
    color: #ffffff;
    background-image: url(416a89d6-8461-4caa-a7b5-9d079c1a640a.jpg) no-repeat cover;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4a76e8;
    color: rgba(58, 119, 58, 0.76);
    border-radius: 6px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}
.button {
    background: #20624d;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
}